In [1]:
import pandas as pd
import datetime
import numpy as np
from datetime import datetime, timezone

### Important Note: Japans data had to be downloaded in two parts as USGS doesn't allow to download more than 20000 lines of data. So the data was loaded into two dataframes and then joined through concat feature

In [2]:
jap1_df = pd.read_csv('j_2010.csv')
jap2_df = pd.read_csv('j_2023.csv')
#Create dataframe for both datasets

In [3]:
jap1_df.count()

time               12253
latitude           12253
longitude          12253
depth              12253
mag                12253
magType            12253
nst                 7760
gap                 5722
dmin                   0
rms                11448
net                12253
id                 12253
updated            12253
place              12251
type               12253
horizontalError        0
depthError          5115
magError               2
magNst              9169
status             12253
locationSource     12253
magSource          12253
dtype: int64

In [28]:
df = pd.concat([jap1_df, jap2_df], ignore_index = True, sort = False)
# use concat feature to join them together

In [29]:
df = df.drop(columns = ['nst', 'gap', 'dmin', 'rms', 'updated', 'net', 'horizontalError', 'depthError', 'magError', 'magNst', 'status', 'locationSource', 'magSource', 'type', 'id'])
df.count()
#drop unwanted columns and do a count to check how many values we have

time         26006
latitude     26006
longitude    26006
depth        26006
mag          26006
magType      26006
place        25953
dtype: int64

In [30]:
df = df.dropna(subset = ['place'])
#remove na values in the column place

In [31]:
df = df[df['place'].str.contains('Japan')]
# through this we will overwrite the dataframe by filtering out places that have contained the word JAPAN. 
# Through this we ensure our data doesn't include any other country.

In [32]:
df.count()
#checking count again and we can see the values dropped to 25637

time         25637
latitude     25637
longitude    25637
depth        25637
mag          25637
magType      25637
place        25637
dtype: int64

In [33]:
jap_time = pd.to_datetime(df['time'])
# use datetime to change iso8601 time to datetime value

In [35]:
df['New Time'] = jap_time.dt.strftime('%H:%M:%S')
#create new time variable

In [38]:
df['New Date'] = jap_time.dt.strftime('%d-%m-%y')
#create new date variable

In [40]:
df['day'] = jap_time.dt.day
df['month'] = jap_time.dt.month
df['year'] = jap_time.dt.year
# create seperate columns for day, month, year. This will be used for machine learning

In [41]:
df = df.drop(columns = 'place')
#drop the column place as we do not need it

In [43]:
df.to_csv('jap_data_clean.csv', index = False)
# save the csv file.