In [1]:
import pandas as pd
import datetime
import numpy as np
from datetime import datetime, timezone

# Load Data

In [2]:
tur_df = pd.read_csv('turkey_Data_1990_2023.csv')

### Important Note: This file was originally used to clean both japan and Turkey dataset, but later on I discovered that I had not properly downloaded the japan dataset from USGS. So the dataset for JAPAN is cleaned in another file which will be availble in the GITHUB and explained as well.

# Data Cleaning

## We will clean the data in both DataFrames. Our goals are the following:

1). Choose which columns we need

2). Remove all NA values

3). Correct any Errors

4). Make sure data is in accending orders

### Removing columns:

In [3]:
tur_df.columns
#check for columns first

Index(['time', 'latitude', 'longitude', 'depth', 'mag', 'magType', 'nst',
       'gap', 'dmin', 'rms', 'net', 'id', 'updated', 'place', 'type',
       'horizontalError', 'depthError', 'magError', 'magNst', 'status',
       'locationSource', 'magSource'],
      dtype='object')

In [4]:
tur_df = tur_df.drop(columns = ['nst', 'gap', 'dmin', 'rms', 'updated', 'net', 'horizontalError', 'depthError', 'magError', 'magNst', 'status', 'locationSource', 'magSource', 'type', 'id'])
# Drop these columns as we don't need them

In [5]:
tur_df.columns
# recheck columns

Index(['time', 'latitude', 'longitude', 'depth', 'mag', 'magType', 'place'], dtype='object')

#### We need to remove NA values. We check for na values using .isna( ) in pandas. We checked every column and only na values were in the column 'Place' fpr both dataframes.

In [6]:
missing_tur = tur_df['place'].isna()
tur_df[missing_tur]

# This code allows us to first create a new  variable from the dataset to determine the null values which can then be showed

,time,latitude,longitude,depth,mag,magType,place
15101,2008-03-12T18:53:31.000Z,40.6210,29.0110,11.200,4.3,mb,NaN
16474,2020-02-04T16:47:10.864Z,38.9976,27.9416,10.000,4.5,mb,NaN
16866,2023-01-18T10:42:39.023Z,38.4720,44.9169,16.660,4.3,mb,NaN
16912,2023-02-06T02:34:51.505Z,37.0822,37.0363,10.000,4.7,mb,NaN
16923,2023-02-06T03:16:16.646Z,38.0715,38.4951,17.340,4.3,mb,NaN
16987,2023-02-06T10:47:41.873Z,38.0443,36.6440,10.000,4.7,mb,NaN
17005,2023-02-06T11:51:22.063Z,38.0160,37.7225,16.818,4.5,mb,NaN
17038,2023-02-06T14:17:18.854Z,37.8732,37.3571,21.255,4.4,mb,NaN
17068,2023-02-06T18:03:53.807Z,37.9781,36.4456,10.000,5.2,mww,NaN
17079,2023-02-06T19:49:40.242Z,38.0947,36.6422,10.000,4.2,mwr,NaN
17085,2023-02-06T20:40:06.434Z,38.2636,37.9916,10.000,4.9,mb,NaN
17126,2023-02-07T07:26:36.313Z,38.0311,37.5813,16.180,4.4,mb,NaN
17154,2023-02-07T21:58:54.224Z,37.4201,36.9564,12.635,4.1,mb,NaN
17169,2023-02-08T09:13:07.114Z,36.6565,36.5077,10.000,4.3,mb,NaN
17200,2023-02-09T06:49:51.214Z,37.8752,37.6589,14.944,4.1,mb,NaN
17251,2023-02-12T12:25:22.576Z,36.7991,36.7677,4.270,4.2,mb,NaN
17285,2023-02-17T19:10:38.916Z,38.0804,38.1774,15.797,3.9,mwr,NaN
17286,2023-02-17T20:53:05.762Z,37.9028,32.5633,10.000,2.6,ml,NaN
17321,2023-02-24T05:46:18.423Z,36.3086,36.0365,10.000,4.0,mb,NaN
17329,2023-02-25T12:41:13.746Z,38.0367,37.0670,6.703,4.4,mwr,NaN
17368,2023-03-12T12:31:22.559Z,37.9391,36.3290,10.000,4.3,mb,NaN
17429,2023-04-28T05:15:44.351Z,36.0905,36.0515,10.000,4.1,mb,NaN

In [7]:
tur_df = tur_df.dropna(subset = ['place'])

#### The next step of the process is to filter out any other locations that might be in our data which are not part of Japan or Turkey. 

#### When we took the data, we used a map and drew a rectangle to cover our area, and it is possible that bordering countries were included in the rectangle. We will now filter those countries out so we get a better and accurate dataset

In [9]:
print('No of rows for Turkey before filtering out other Countries/Regions')
print(tur_df.count())

# FIrst lets check the number of rows we initially have

No of rows for Turkey before filtering out other Countries/Regions
time         17413
latitude     17413
longitude    17413
depth        17413
mag          17413
magType      17413
place        17413
dtype: int64

In [10]:
tur_df = tur_df[tur_df['place'].str.contains('Turkey')]

# This will update our table 
# and we will only see rows which contain Turkey and japan

In [11]:
print('No of rows for Turkey After filtering out other Countries/Regions')
print(tur_df.count())

# no of rows after we filter out other countries.

No of rows for Turkey After filtering out other Countries/Regions
time         15503
latitude     15503
longitude    15503
depth        15503
mag          15503
magType      15503
place        15503
dtype: int64

#### Next we will convert the ISO8601 time to a better time format so it is easier to use for data analysis.

In [12]:
tur_time = pd.to_datetime(tur_df['time'])

# we will use datetime library to convert the iso time to datetime object

In [14]:
tur_df['New Time'] = tur_time.dt.strftime('%H:%M:%S')

# We have used strftime to break  and format the time from the ISO format 
# into hours, minutes and seconds

tur_df['New Date'] = tur_time.dt.strftime('%d-%m-%y')

# and used it to format our date as well

In [15]:
# We also broke the date into seperate day, month, and year column so we can perform more analysis

tur_df['day'] = tur_time.dt.day
tur_df['month'] = tur_time.dt.month
tur_df['year'] = tur_time.dt.year

In [16]:
#jap_df = jap_df.drop(columns = 'place')
tur_df = tur_df.drop(columns = 'place')

In [17]:
tur_df

,time,latitude,longitude,depth,mag,magType,New Time,New Date,day,month,year
8,1990-01-10T07:50:43.870Z,39.2790,28.2970,10.000,3.7,md,07:50:43,10-01-90,10,1,1990
10,1990-01-10T10:04:15.190Z,39.2800,28.2180,10.000,3.7,md,10:04:15,10-01-90,10,1,1990
76,1990-01-26T16:12:39.470Z,39.0160,26.9550,10.000,3.4,md,16:12:39,26-01-90,26,1,1990
77,1990-01-26T20:49:53.860Z,40.2890,27.3440,10.000,3.2,md,20:49:53,26-01-90,26,1,1990
83,1990-02-01T07:10:27.870Z,38.1790,26.5870,10.000,3.3,md,07:10:27,01-02-90,1,2,1990
...,...,...,...,...,...,...,...,...,...,...,...
17430,2023-04-29T01:55:48.600Z,38.0984,36.4408,10.000,4.5,mb,01:55:48,29-04-23,29,4,2023
17431,2023-04-30T13:01:28.430Z,38.3404,37.6774,10.000,4.1,mb,13:01:28,30-04-23,30,4,2023
17432,2023-05-01T21:36:01.751Z,38.1554,38.5956,17.018,4.1,mb,21:36:01,01-05-23,1,5,2023
17433,2023-05-03T06:20:54.763Z,37.5590,35.5859,10.000,4.4,mb,06:20:54,03-05-23,3,5,2023
17434,2023-05-03T17:16:38.636Z,38.0816,36.5226,10.473,4.9,mb,17:16:38,03-05-23,3,5,2023

### Now we have completed the Data cleaning for both our Japan and Turkey datasets. We have not removed the original Time column as we still have to convert it to a timestamp for our Machine learning process. We will use rest of the vallues for data analysis

In [19]:
tur_df.to_csv('tur_data_clean.csv', index = False)

#### The final step is to save both dataframes into csv files which then we can access at any time.